<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>135777970841-jfcoqh34fkqe4vk65p3eboqeifncm6o6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.135777970841-jfcoqh34fkqe4vk65p3eboqeifncm6o6</string>
	<key>API_KEY</key>
	<string>AIzaSyAgAdv5wne7L5GD9R8lU4_VMuBjXcZ0RBQ</string>
	<key>GCM_SENDER_ID</key>
	<string>135777970841</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.interhub.poloniex</string>
	<key>PROJECT_ID</key>
	<string>poloniex-363fe</string>
	<key>STORAGE_BUCKET</key>
	<string>poloniex-363fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:135777970841:ios:861ad36cc3d52d7b996608</string>
</dict>
</plist>